#################################
# Fichiers générés par Unreal Engine #
#################################
/[Bb]uilde
/[Bb]uildes
/Binaires
/Cache de données dérivées
/Intermédiaire
/Enregistré

#################################
# Fichiers générés par Visual Studio #
#################################
# Répertoire de cache
.contre
# Fichiers spécifiques à l'utilisateur
*.rsuser
*.suo
*.utilisateur
*.userosscache
*.sln.docstates
# Fichiers cache CPP
*.VC.db
*.opendb
*.opensdf
*.sdf
# Fichiers de solutions
*.sln
# Répertoire de cache VSCode
.vscode
# Fichiers d'historique VSCode
**/.histoire

#################################
# Fichiers générés divers #
#################################
# AJOUTER SI BESOIN